* {
    /* background-color: #FFDF86; */
    font-family: 'Orbit', sans-serif;
}

/* home,search,coummunity */
#nav {
    position: relative;
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
    align-items: center;
    justify-content: center;
}

/* main title */
#txtTitle {
    position: relative;
    display: flex;
    width: 900px;
    padding: 0;
}

.mainHome {
    display: block;
}

.container {
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container1 {
    margin-top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainBackground3 {
    /* transparent : 색상설정 안함(투명) */
    background-color: transparent;
    display: flex;
    position: absolute;
    margin-top: 30%;
    margin-left: 70%;
    height: 550px;
    padding: 0;
    z-index: 1;
}

#mainBackground4 {
    background-color: transparent;
    margin-left: 0;
    display: flex;
    align-items: flex-end;
    position: absolute;
    left: 0;
    bottom: 0;
}

#mainBackground1 {
    /* transparent : 색상설정 안함(투명) */
    background-color: transparent;
    position: absolute;
    margin: 0;
    margin-right: 35%;
    padding: 0;
    width: 45%;
    z-index: 1;
}

#mainBackground2 {
    /* transparent : 색상설정 안함(투명) */
    background-color: transparent;
    position: absolute;
    margin-left: 35%;
    padding: 0;
    margin-right: 5%;
    width: 45%;
}

/* search - selectBox, txt, submit  */
.container2 {
    display: inline-block;
}

.dropDown {
    display: flex;
}

.label {
    width: 20%;
    margin-right: 3%;
    text-align: left;
}

.inputTxt {
    width: 130%;
    height: 41%;
}

.clickBtn {
    margin-left: 6.5%;
    margin-top: 2.7%;
}

/* search - map */

.kakaoMap {
    position: relative;
    display: flex;
    margin-top: 8%;
    width: 550px;
    height: 450px;
    border: 0.5px solid #ccc;
    margin-right: 5%;
    margin-bottom: 5%;
    background-color: white;
   

}


.mapAndInfo {
    display: flex;
}

/* searchList */
.info {
    position: relative;
    right: 0;
    margin-top: 8%;
    text-align: left;
    margin-bottom: 5%;

}

/* 769px부터 1024px 사이의 화면 크기일 때 적용되는 스타일 */
@media screen and (min-width: 769px) and (max-width: 1024px) {}

/* body{
        color: #FEEBB6;
    } */
@media screen and (max-width: 768px) {
    /* 768px 이하의 화면 크기일 때 적용되는 스타일 */
}